.swiper-pagination-bullet.projects-swiperbullets {
  width: fit-content;
  height: fit-content;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  transition: 0.3s ease-in-out !important;
  opacity: 1;
  background: transparent;
  /* display: flex !important; */
  align-items: center;
  position: relative;
  cursor: pointer;
}

.swiper-projects {
  > .swiper-pagination {
    bottom: 0px !important;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  /* height: 380px; */
  margin: 0;
  @media (min-width: 1200px) {
    min-width: 300px;
    width: 300px;
    height: 300px;
  }
  @media (max-width: 1200px) and (min-width: 998px) {
    min-width: 290px;
    width: 290px;
    height: 290px;
  }
  @media (max-width: 998px) and (min-width: 776px) {
    min-width: 290px;
    width: 290px;
    height: 290px;
  }
  @media (max-width: 776px) {
    min-width: 250px;
    width: 250px;
    height: auto;
    aspect-ratio: 1;
  }
  @media (max-width: 450px) {
    min-width: 0px;
    width: 200px;
    height: auto;
    aspect-ratio: 1;
    max-width: calc(100% - 20px);
  }
}

.swiper-pagination-bullet.projects-swiperbullets .dot {
  width: 17px;
  height: 17px;
  border: 2px solid #050d53;
  border-radius: 50%;
  background: #050d53;
  opacity: 0.35;
  transition: 0.3s ease-in-out;
}
.swiper-pagination-bullet-active.projects-swiperbullets .dot {
  width: 17px;
  height: 17px;
  background: #050d53;
  opacity: 0.88;
  border: 2px solid #050d53;
}
.swiper-projects {
  border: 10px solid white !important;
  border-radius: 5px;
}
.SLideDescription {
  font-size: 15px;
}
@media (max-width: 430px) {
  .SLideDescription {
    font-size: 13px;
  }
}
