.Footer {
  color: #fff;
  transition: 0.3s ease-in-out;
  a {
    color: white;
    transition: 0.3s ease-in-out;
    &:hover {
      color: #f86c29;
    }
  }
  &.Slide4,
  &.Slide5 {
    color: #926916;
    a {
      opacity: 0.7;
      color: #926916;
      &:hover {
        scale: 1.1;
        opacity: 1;
      }
    }
  }
}
